<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button *ngIf="isVisible()" class="back-button" (click)="back()">
      <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>
    <div class="mx-auto order-0">
      <div class="row align-content-center justify-content-center">
        <img
          src="../../../assets/logo.png"
          width="100px"
          height="100px"
          alt="logo"
        />
      </div>
    </div>
  </nav>
</header>
