.navbar {
  height: 350px;
  background-color: #3a2783;
  border-radius: 0px 0px 80px 80px;
}

.back-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  color: #fff;
  background-color: #3a2783;
  font-size: 32px;
  border: none;
  border-radius: 50px;
  outline: none;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar {
    height: 250px;
    border-radius: 0px 0px 0px 0px;
  }
}
