<div class="container container-block">
  <div class="row justify-content-center align-items-center">
    <div class="row tabs-div justify-content-center align-items-center">
      <ul ngbNav #nav="ngbNav" class="nav-pills nav-div">
        <li ngbNavItem="top">
          <a ngbNavLink class="tab-button"><strong>Ônibus</strong></a>
          <ng-template ngbNavContent>
            <div class="row justify-content-center align-items-center mt-4">
              <div class="row mt-4">
                <div class="form-inline" id="search-teachers">
                  <div class="form-group mb-5">
                    <div class="input-group">
                      <input
                        class="form-control form-control-lg ml-2 py-2 input-border border-right-0"
                        type="search"
                        [(ngModel)]="searchText"
                        autocomplete="off"
                        placeholder="Ônibus"
                        id="example-search-input"
                      />
                      <span class="input-group-append">
                        <div class="input-group-text bg-transparent input-border border-left-0">
                          <fa-icon [icon]="faSearch"></fa-icon>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="linhas.length; else elseTemplate">
              <div
                class="post"
                *ngFor="let linha of linhas | filter: searchText"
                (click)="goToItinerario(linha)"
              >
                <div class="row card-block">
                  <div class="col-lg-12">
                    <div class="card w-100 mb-3 clickable">
                      <div class="card-content">
                        <div class="card-body cleartfix">
                          <div class="media align-items-stretch">
                            <div class="align-self-center">
                              <h1 class="mr-2">
                                <fa-icon [icon]="faBus"></fa-icon>
                              </h1>
                            </div>
                            <div class="card-border"></div>
                            <div class="media-body hv font-min">
                              <h4>{{ linha.codigo }}</h4>
                              <span> {{ linha.nome }}</span>
                            </div>
                            <div class="align-self-center">
                              <fa-icon [icon]="faAngleRight"></fa-icon>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="post">
                <div class="row card-block">
                  <div class="col-lg-12">
                    <ngx-skeleton-loader
                      *ngIf="!contentLoaded"
                      animation="progress"
                      [theme]="{ height: '103px' }"
                    >
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader
                      *ngIf="!contentLoaded"
                      animation="progress"
                      [theme]="{ height: '103px' }"
                    >
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader
                      *ngIf="!contentLoaded"
                      animation="progress"
                      [theme]="{ height: '103px' }"
                    >
                    </ngx-skeleton-loader>
                    <ngx-skeleton-loader
                      *ngIf="!contentLoaded"
                      animation="progress"
                      [theme]="{ height: '103px' }"
                    >
                    </ngx-skeleton-loader>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #noResults>
              <div class="row align-content-center justify-content-center mt-4">
                <p class="text-center" *ngIf="contentLoaded">
                  Não foram encontrados resultados para: "{{ searchText }}".
                </p>
              </div>
            </ng-template>
          </ng-template>
        </li>
        <li ngbNavItem="middle">
          <a ngbNavLink class="tab-button"><strong>Lotação</strong></a>
          <ng-template ngbNavContent>
            <div class="row justify-content-center align-items-center mt-4">
              <div class="row mt-4">
                <div class="form-inline" id="search-teachers">
                  <div class="form-group mb-5">
                    <div class="input-group">
                      <input
                        class="form-control form-control-lg ml-2 py-2 input-border border-right-0"
                        type="search"
                        [(ngModel)]="searchText"
                        autocomplete="off"
                        placeholder="Lotação"
                        id="example-search-input"
                      />
                      <span class="input-group-append">
                        <div class="input-group-text bg-transparent input-border border-left-0">
                          <fa-icon [icon]="faSearch"></fa-icon>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="post"
              *ngFor="let lotacao of lotacoes | filter: searchText"
              (click)="goToItinerario(lotacao)"
            >
              <div class="row card-block">
                <div class="col-lg-12">
                  <div class="card w-100 mb-3 clickable">
                    <div class="card-content">
                      <div class="card-body cleartfix">
                        <div class="media align-items-stretch">
                          <div class="align-self-center">
                            <h1 class="mr-2">
                              <fa-icon [icon]="faShuttleVan"></fa-icon>
                            </h1>
                          </div>
                          <div class="card-border"></div>
                          <div class="media-body hv font-min">
                            <h4>{{ lotacao.codigo }}</h4>
                            <span> {{ lotacao.nome }}</span>
                            <span> {{ lotacao.id }}</span>
                          </div>
                          <div class="align-self-center">
                            <fa-icon [icon]="faAngleRight"></fa-icon>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
  <div class="row align-content-center justify-content-center">
    <div class="col-lg-8">
      <div [ngbNavOutlet]="nav"></div>
      <ng-container *ngIf="contentLoaded && (linhas | filter: searchText).length == 0">
        <div class="row justify-content-center align-itens-center">
          <div class="row justify-content-center">
            <img src="../../../assets/icons8-limpar-pesquisa-64.png" alt="lupa" />
          </div>
          <div class="col-12 text-center mb-5 mt-2 not-results">
            <span class="tab-button">
              <p>Não foram encontrados resultados para: "{{searchText}}".</p>
            </span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <button class="go-top-button" *ngIf="isShow" (click)="gotoTop()">
    <fa-icon [icon]="faAngleDoubleUp"></fa-icon>
  </button>
</div>
