.clickable {
  cursor: pointer;
}

.card {
  color: #3e375c;
  border: 1px solid #9987e1;
}

.card-border{
  border-left: 1px solid #a193e0;
  height: 50px;
}

.container-block {
  position: relative;
  z-index: 1;
  margin-top: -22px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 15px 0px #9987e1;
  background-color: #ffffff;
}

.tabs-div {
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 #dde3fe;
  border-radius: 5px 5px 5px 5px;
  margin-top: -20px;
}

.nav-div {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.tab-button {
  width: 150px;
  text-align: center;
}

.form-group {
  color: #3e375c;
  font-size: 32px;
  display: flex;
}

.form-control:focus {
  box-shadow: 0 0 0px 0.2rem #dde3fe;
}

.input-border {
  border-color: #3a2783;
}

.hv {
  margin-left: 10px;
}

.go-top-button {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 10px;
  background-color: #3a2783;
  color: #fff;
  border: none;
  border-radius: 50px;
  outline: none;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
}

.not-results {
  word-wrap: break-word;
}

.tab-button {
  width: 150px;
  text-align: center;
  color: #808080;
  white-space: normal
}

h4 {
  color: #3e375c
}

::ng-deep .nav-pills .nav-link.active,
::ng-deep .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #3a2783;
}

::ng-deep .nav-pills .nav-link {
  color: #4b4966;
}

@media (max-width: 600px) {
  .font-min {
    width: 15px;
    font-size: 12px;
  }
}
