<div class="container container-block">
  <div class="row justify-content-center align-items-center">
    <div class="row tabs-div justify-content-center align-items-center">
      <div class="nav-pills nav-div">
        <span class="tab-button">
          <fa-icon [icon]="faMap"></fa-icon>
          <strong> {{ itinerario.codigo }}</strong> | {{ itinerario.nome }}</span>
      </div>
    </div>
  </div>
  <div class="row align-content-center justify-content-center">
    <div class="col-lg-8">
      <div class="timeline p-4 mb-4">
        <div class="tl-item" *ngFor="let itinerario_item of itinerario.pontos; let i = index">
          <div class="tl-dot b-primary"></div>
          <div class="tl-content">
            <div>
              <strong> Ponto {{ i }}</strong>
            </div>
            <div class="tl-date text-muted mt-1">
              <a class="google-link"
              href="https://www.google.com/maps/?q={{ itinerario_item.lat }},{{ itinerario_item.lng }}"
              target="_blank"
              >
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Visualizar no Google
                Maps
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="go-top-button" *ngIf="isShow" (click)="gotoTop()">
    <fa-icon [icon]="faAngleDoubleUp"></fa-icon>
  </button>
</div>
